@font-face {
    font-family: euro;
    src: url(/fonts/eurofurence/eurof55.ttf);
}

@font-face {
    font-family: lato-bold;
    src: url(/fonts/lato-bold/Lato-Bold.ttf);
}

@font-face {
    font-family: lato-regular;
    src: url(/fonts/lato-regular/Lato-Regular.ttf);
}