:root {
    /* colors */
    --primary-3: black;
    --primary-2: #516FAD;
    --primary-1: #292929;
    --primary-0: #202020;
    --primary-base: #4F4E4E;
    --primary--1: #7A7A7A;
    --primary--2: #C6C6C6;
    --primary--3: #F8F8F8;
    --primary--4: #FFFFFF;

    --green: #58C93A;
}