/* MOBILE ONLY */

@media (max-width: 920px) {
    .main-nav {
        background-color: #e7e7e7dc;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        transform: translateX(100%);
        transition: 0.6s, box-shadow 0.6s;
    }

    .main-nav-list {
        flex-direction: column;
    }

    .main-layout.menu-open .main-nav {
        box-shadow: -3px 5px 19px 2px #4d4d4d9e;
        transform: translateX(0);
    }
}

/* SMALL */

@media (min-width: 740px) {
    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, 700px) minmax(20px, 1fr);
    }

    .main-header {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, 700px) minmax(20px, 1fr);
        height: 120px;
    }

}

/* MEDIUM */
@media (min-width:920px) {

    /* LAYOUT */
    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, 780px) minmax(20px, 1fr);
    }

    /* HEADER */
    .main-header {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, 780px) minmax(20px, 1fr);
        height: 120px;
    }

    .main-nav-list li>*:hover::after {
        transform: translate(0, 48px);
    }

    /* CARD */
    .card {
        display: grid;
        padding: 0;
    }

    .card :not(.card-img) {
        grid-column: 2;
    }

    .card .info-container h2 {
        font-size: 1.428em;
    }

    /* SCREEN */
    body.menu-open .main-screen {
        display: none;
    }

    /* MENU BUTTONS */
    .main-header-content .menuBtn {
        display: none;
    }

    .main-header-content .closeMenuBtn {
        display: none;
    }

}

/* LARGE */
@media (min-width:1100px) {

    /* BASE */
    body {
        font-size: 16px;
    }

    /* LAYOUT */
    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, 1100px) minmax(20px, 1fr);
    }

    /* HEADER */
    .main-header {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, 1100px) minmax(20px, 1fr);
        height: 133px;
    }

    .main-nav-list li>* {
        width: 133px;
    }

    .main-nav-list li>*:hover::after {
        transform: translate(0, 55px);
    }

    /* MAIN-CONTENT */
    .main-content {
        padding-top: 60px;
    }

    /* CARD */
    .card {
        margin-bottom: 4rem;
    }

    .card .info-container h2 {
        font-size: 1.75em;
    }

}